name: Check Markdown Links

on:
  push:
  schedule:
    - cron: "0 8 * * 1"

jobs:
  markdown-link-check:
    name: Check Markdown links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.13
        with:
          config-file: 'mlc_config.json'
